body.toplevel_page_alpha-stream-cart {
    .streamcart-admin {
        margin: 20px;
    }

    .alpha-streamcart-tabs {
        margin-top: 20px;
    }

    .tab-content {
        padding: 20px;
        background: #fff;
        border: 1px solid #ccc;
        border-top: none;
    }

    .stream-controls {
        margin-bottom: 20px;
    }

    .stream-preview {
        width: 100%;
        max-width: 800px;
        background: #f0f0f0;
        padding: 20px;
        border-radius: 4px;
    }

    .stream-stats {
        margin-top: 10px;
        font-size: 16px;
    }

    .form-table input[type="text"],
    .form-table input[type="password"] {
        width: 300px;
    }

    /*Accordion CSS*/
    .accordion {
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
    }

    .accordion-item {
        border-top: 1px solid #ddd;
    }

    .accordion-item:first-child {
        border-top: none;
    }

    .accordion-header {
        background: #f7f7f7;
        padding: 1em 15px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }

    .accordion-content {
        overflow: hidden; /* Ensures content is hidden when collapsed */
        max-height: 0; /* Initially collapsed */
        transition: max-height 0.4s ease-in-out; /* Smooth transition */
        padding: 0 15px;
    }

    .accordion-item.open .accordion-content {
        max-height: 500px; /* Large enough to show content */
    }

    .accordion-item.open .accordion-header {
        background: #e7e7e7;
        color: #000;
    }

    /*Pro Tag*/
    .pro-tag {
        background-color: #f39c12; /* Premium gold color */
        color: #fff;
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 3px;
        margin-left: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }
}